@import "./variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background: #fff;
}

body {
  font-family: $title-font;
}

p {
  font-family: $text-font;
}
