img {
  width: 100%;
}

.movie-details-container {
  display: flex;
  background-color: #e6e6e6;
  margin: 4em auto;
  max-width: 900px;
  border-radius: 15px;
  box-shadow: 10px 10px 56px -6px rgba(0,0,0,0.75);  
  -webkit-box-shadow: 10px 10px 56px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 56px -6px rgba(0,0,0,0.75);
  @media screen and (max-width: 800px) {
    max-width: 500px;
    flex-wrap: wrap;
  }
}

.info-container {
  padding: 1.25em 1.5em;
}

.info-container ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0;
}

.info-container ul li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}

.info-container ul li:first-child {
  margin-left: 0;
}

.info-container ul li .icon {
  vertical-align: bottom;
}

.info-container ul li span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
  vertical-align: middle;
  color: #838689;
}

.info-container h2, .info-container h3 {
  margin: 0;
  font-weight: 300;
}

.info-container h2 {
  font-size: 1.75em;
  font-family: 'Titillium Web', sans-serif;
  color: #50505a;
}

.info-container h3 {
  font-size: 0.9375em;
  font-family: 'Titillium Web', sans-serif;
  color: #78788c;
}

.info-container p {
  margin: 1.25em 0;
  font-size: 0.8125em;
  font-weight: 400;
  color: #50505a;
}

.info-container p span {
  font-weight: 700;
  color: #50505a;
}

.info-container .ingrediengenrests {
  margin: 2em 0 0.5em;
}
.movie-details-container .icon {
  display: inline;
  display: inline-block;
  background-repeat: no-repeat;
}

.imdb-icon, .more-info-icon {
  padding: 5px;
  font-size: 36px;
  color: #A4A4A4;
}
.imdb-icon:hover, .more-info-icon:hover {
  color: #57abf2;
}
