@import "./variables.scss";

.movie-details-container {
  display: flex;
  flex-direction: column;
}

.movie-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-color;
  padding: 10px;
  > .movie-title-text {
    color: $primary-color;
    font-weight: 500;
    font-size: 2.75em;
    margin-left: 1em;
  }
  > .formatted-release-date {
    font-size: 1.75em;
    color: #999999;
  }
}

.info-container {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.overview-container {
  padding: 20px;
}

.overview-title {
  color: $primary-color;
  font-size: 2em;
  font-weight: 300;
  margin: 20px 40px 20px 40px;
  border-bottom: 3px solid $font-primary-color;
}

.movie-details-overview-text {
  text-align: justify;
  font-size: 1.4em;
  margin: 20px 40px 20px 40px;
  color: #686868; //@TODO: Verificar se essa cor é a mesma das outras info
}

.movie-details-genres {
  margin: 80px 40px 20px 40px;
}

.info-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px 40px 20px 40px;
}

.info-item {
  flex-direction: row;
  & > h6 {
    color: $primary-color;
    font-size: 2em;
  }
  & > span {
    color: #686868;
    font-weight: 600;
    font-size: 1.4em;
  }
}

iframe {
  margin: 50px;
}
