nav {
  display: flex;
  align-items: center;
  padding: 10px;
  @media screen and (max-width: 500px) {
    flex-wrap: wrap;
  }
}

.logo-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  color: #ccc;
  font-size: 2em;
}
