@import "../styles/variables.scss";

.container {
  display: flex;
  margin: 0 auto;
  margin: 100px 300px;
  position: relative;
}

.card-content {
  display: flex;
  flex-direction: row;
  background-color: $bg-color;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: $primary-color;
  padding: 15px 15px 0 15px;
}

.title-text {
  margin-left: 100px;
  padding: 10px;
  color: $font-primary-color;
  font-size: 2.25em;
  font-weight: 400;
}

.movie-details {
  flex: 1;
  flex-direction: row;
  padding: 40px 70px 0 30px;
}

.release-date-text {
  font-size: 1.75em;
  color: #999999;
  margin: 0.2em 0 0 120px;
}

.overview-text {
  font-size: 1.4em;
  margin-bottom: 50px;
}

@media screen and (max-width: 1280px) {
  .card-content {
    flex: 1;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  body {
    display: flex;
  }
  .card-content {
    flex: 1;
    flex-direction: column;
  }
}

li {
  list-style: none;
  display: inline;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  background-color: #fff;
  border-radius: 35px;
  border: 2px solid $primary-color;
}
