@import "./variables.scss";

.react-autosuggest__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.react-autosuggest__input {
  padding: 15px;
  width: 60%;
  font-family: $title-font;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  outline: none;
  color: $primary-color;
  background-color: #ebebeb;
}

.react-autosuggest__input::placeholder {
  color: $primary-color;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-radius: 20px;
  border-color: #00b4cc;
  width: 60%;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: relative;
  border: 1px solid #00b4cc;
  background-color: #f6f6f6;
  font-weight: 300;
  font-size: 16px;
  border-radius: 20px;
  z-index: 999;
  width: 60%;
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
  font-family: "Nunito", sans-serif;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #00b4cc;
  color: #fff;
}

.searchResult-text {
  line-height: 21px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}

.searchResult-name {
  font-weight: bold;
}

.searchResult-link {
  display: block;
  padding: 5px;
  text-decoration: none;
}
