@import "./variables.scss";

.react-autosuggest__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.react-autosuggest__input {
  padding: 15px;
  width: 70%;
  font-family: $title-font;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  outline: none;
  color: $primary-color;
  background-color: #ebebeb;
}

.react-autosuggest__input::placeholder {
  color: $primary-color;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-radius: 50px;
  width: 70%;
}

.react-autosuggest__suggestions-container--open {
  position: absolute;
  border: 2px solid $primary-color;
  background-color: $bg-color;
  font-weight: 300;
  font-size: 16px;
  border-radius: 20px;
  z-index: 999;
  width: 70%;
  top: 20%;
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
  font-family: "Nunito", sans-serif;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  color: $primary-color;
  border-radius: 7px;
}

.result-text {
  line-height: 22px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}

.result-poster {
  width: 50px;
  height: 60px;
  float: left;
  margin-right: 8px;
}

.search-result-name {
  font-weight: bold;
}

.searchResult-link {
  display: block;
  padding: 5px;
}
