*, *:before, *:after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #5C7FB8; }

a:hover {
  text-decoration: underline; }

.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  padding: 40px 0; }

.wrapper {
  margin: 0 auto;
  width: 780px;
  height: 640px;
  background: #CCC;
  border-radius: 5px;
  position: relative; }

.movie-main-info-container {
  height: 342px;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.movie-main-info-container:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgba(30, 27, 38, 0.8);
  z-index: -1;
  transform: skewY(-2.2deg);
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden; }

.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2; }

.info {
  padding: 190px 0 0 280px; }
  .info .movie-title {
    color: white;
    font-size: 44px;
    margin-bottom: 13px;
    position: relative; }
  .info .movie-subtitle {
    color: #C7C1BA;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 15px; }

.movie-description {
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #15131f; }

.movie-genre {
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  padding-top: 150px;
  width: 220px;
  float: left;
  text-align: center; }

.genre {
  background: white;
  border-radius: 15px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer; }

.genre:hover {
  background: #ddd; }

.movie-details {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 480px;
  float: left; }

.more-options {
  margin-top: 23px; }
  .more-options img {
    cursor: pointer; }
  .more-options img:hover {
    opacity: 0.6; }
  .more-options a:hover {
    text-decoration: none; }

a[data-tooltip] {
  position: relative; }

a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85; }

a[data-tooltip]::before {
  content: attr(data-tooltip);
  background: #000;
  color: #FFF;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none; }

a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: ''; }

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block; }

a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px; }

a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px; }
