* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  background: #fff; }

body {
  font-family: "Abel", sans-serif; }

p {
  font-family: "Lato", sans-serif; }

nav {
  padding: 10px;
  margin-top: 20px; }
  @media screen and (max-width: 500px) {
    nav {
      align-content: center;
      justify-content: center; } }

.logo-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  background-color: #116193; }

.logo-container > h1 {
  color: #00e8e4;
  font-size: 3rem;
  font-weight: 100; }

.react-autosuggest__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.react-autosuggest__input {
  padding: 15px;
  width: 70%;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  outline: none;
  color: #116193;
  background-color: #ebebeb; }

.react-autosuggest__input::placeholder {
  color: #116193; }

.react-autosuggest__input--focused {
  outline: none; }

.react-autosuggest__input--open {
  border-radius: 20px;
  border-radius: 25px;
  width: 70%; }

.react-autosuggest__suggestions-container--open {
  position: absolute;
  border: 1px solid #116193;
  background-color: #ebebeb;
  font-weight: 300;
  font-size: 16px;
  border-radius: 20px;
  z-index: 999;
  width: 70%;
  top: 17%; }

.react-autosuggest__suggestions-list {
  list-style-type: none;
  font-family: "Nunito", sans-serif; }

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px; }

.react-autosuggest__suggestion--highlighted {
  background-color: #116193;
  color: #00e8e4;
  border-radius: 20px; }

.searchResult-text {
  line-height: 21px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap; }

.searchResult-name {
  font-weight: bold; }

.searchResult-link {
  display: block;
  padding: 5px;
  text-decoration: none; }

.movie-details-container {
  display: flex;
  flex-direction: column; }

.movie-title-container {
  background-color: #ebebeb;
  padding: 10px; }
  .movie-title-container > h1 {
    color: #116193;
    font-size: 2.75em;
    margin-left: 1em; }

.info-container {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2; }

.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #FFF; }

.code-icon, .github-profile {
  color: #FFF;
  text-decoration: none; }

.code-icon:hover, .github-profile:hover {
  text-decoration: none;
  text-decoration: underline; }
