* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  background: #59ABE3; }

body {
  font-family: 'Nunito', sans-serif; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }

.react-autosuggest__container {
  position: relative; }

.react-autosuggest__input {
  width: 280px;
  height: 35px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px; }

.react-autosuggest__input--focused {
  outline: none; }

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 38px;
  width: 280px;
  border: 1px solid #FFF;
  background-color: #CCC;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2; }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px; }

.react-autosuggest__suggestion--highlighted {
  background-color: #B1DDF1; }

.searchResult-text {
  line-height: 21px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap; }

.searchResult-name {
  font-weight: bold; }

.searchResult-link {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: aqua; }

img {
  width: 100%;
  vertical-align: bottom; }

.movie-details-container {
  display: flex;
  background-color: #e6e6e6;
  margin: 4em auto;
  max-width: 900px;
  border-radius: 15px; }
  @media screen and (max-width: 800px) {
    .movie-details-container {
      max-width: 500px;
      flex-wrap: wrap; } }

.info-container {
  padding: 1.25em 1.5em; }

.info-container ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0; }

.info-container ul li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em; }

.info-container ul li:first-child {
  margin-left: 0; }

.info-container ul li .icon {
  vertical-align: bottom; }

.info-container ul li span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
  vertical-align: middle;
  color: #838689; }

.info-container h2, .info-container h3 {
  margin: 0;
  font-weight: 300; }

.info-container h2 {
  font-size: 1.75em;
  font-family: 'Titillium Web', sans-serif;
  color: #50505a; }

.info-container h3 {
  font-size: 0.9375em;
  font-family: 'Titillium Web', sans-serif;
  color: #50505a; }

.info-container p {
  margin: 1.25em 0;
  font-size: 0.8125em;
  font-weight: 400;
  color: #50505a; }

.info-container p span {
  font-weight: 700;
  color: #50505a; }

.info-container .ingrediengenrests {
  margin: 2em 0 0.5em; }

.movie-details-container .icon {
  display: inline;
  display: inline-block;
  background-repeat: no-repeat; }

.imdb-icon, .more-info-icon {
  padding: 5px;
  font-size: 36px;
  color: #A4A4A4; }

.imdb-icon:hover, .more-info-icon:hover {
  color: #57abf2; }
