* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  background: #fff; }

body {
  font-family: "Abel", sans-serif; }

p {
  font-family: "Lato", sans-serif; }

nav {
  padding: 10px;
  margin-top: 20px; }
  @media screen and (max-width: 500px) {
    nav {
      align-content: center;
      justify-content: center; } }

.logo-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  background-color: #116193; }

.logo-container > h1 {
  color: #00e8e4;
  font-size: 3rem;
  font-weight: 100; }

.react-autosuggest__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.react-autosuggest__input {
  padding: 15px;
  width: 70%;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  outline: none;
  color: #116193;
  background-color: #ebebeb; }

.react-autosuggest__input::placeholder {
  color: #116193; }

.react-autosuggest__input--focused {
  outline: none; }

.react-autosuggest__input--open {
  border-radius: 20px;
  border-radius: 25px;
  width: 70%; }

.react-autosuggest__suggestions-container--open {
  position: absolute;
  border: 1px solid #116193;
  background-color: #ebebeb;
  font-weight: 300;
  font-size: 16px;
  border-radius: 20px;
  z-index: 999;
  width: 70%;
  top: 17%; }

.react-autosuggest__suggestions-list {
  list-style-type: none;
  font-family: "Nunito", sans-serif; }

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px; }

.react-autosuggest__suggestion--highlighted {
  background-color: #116193;
  color: #00e8e4;
  border-radius: 20px; }

.searchResult-text {
  line-height: 21px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap; }

.searchResult-name {
  font-weight: bold; }

.searchResult-link {
  display: block;
  padding: 5px;
  text-decoration: none; }

.movie-poster {
  width: 100%; }

.movie-details-container {
  display: flex;
  background-color: #e6e6e6;
  margin: 4em auto;
  max-width: 900px;
  border-radius: 15px;
  box-shadow: 10px 10px 56px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 56px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 56px -6px rgba(0, 0, 0, 0.75); }
  @media screen and (max-width: 800px) {
    .movie-details-container {
      max-width: 500px;
      flex-wrap: wrap; } }

.info-container {
  padding: 1.25em 1.5em; }

.info-container ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0; }

.info-container ul li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em; }

.info-container ul li:first-child {
  margin-left: 0; }

.info-container ul li .icon {
  vertical-align: bottom; }

.info-container ul li span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
  vertical-align: middle;
  color: #838689; }

.info-container h2,
.info-container h3 {
  margin: 0;
  font-weight: 300; }

.info-container h2 {
  font-size: 1.75em;
  font-family: "Titillium Web", sans-serif;
  color: #50505a; }

.info-container h3 {
  font-size: 0.9375em;
  font-family: "Titillium Web", sans-serif;
  color: #78788c; }

.info-container p {
  margin: 1.25em 0;
  font-size: 0.8125em;
  font-weight: 400;
  color: #50505a; }

.info-container p span {
  font-weight: 700;
  color: #50505a; }

.info-container .ingrediengenrests {
  margin: 2em 0 0.5em; }

.movie-details-container .icon {
  display: inline;
  display: inline-block;
  background-repeat: no-repeat; }

.imdb-icon,
.more-info-icon {
  padding: 5px;
  font-size: 36px;
  color: #a4a4a4; }

.imdb-icon:hover,
.more-info-icon:hover {
  color: #213f53; }

.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #FFF; }

.code-icon, .github-profile {
  color: #FFF;
  text-decoration: none; }

.code-icon:hover, .github-profile:hover {
  text-decoration: none;
  text-decoration: underline; }
