
.movie-item-container img {
  transition: transform 0.5s cubic-bezier(0.15, 1, 0.33, 1);
}

.movie-item-container:hover .movie-title {
  transform: translateY(0);
}

.movie-item-container:hover img {
  opacity: 0.5;
  transform: scale(0.85);
}

.movie-title-container {
  transition: transform 0.5s cubic-bezier(0.15, 1, 0.33, 1);
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  @media (--desktop) {
    padding: 18px;
  }
}

.movie-title {
  font-size: 14px;
  margin: 0 auto;

  @media (--desktop) {
    font-size: 25px;
  }
}
